<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


</head>

<body class="bg-zinc-900 flex items-center justify-center min-h-[100vh]">

        <div class="w-[30rem]  sm:my-[1rem] my-[3rem] h-[90vh] rounded-2xl mx-[1rem] bg-zinc-700 overflow-scroll" style="scrollbar-width: none;">
            <div class="h-full w-full p-[2rem]">
                <span class="text-center text-[3rem] block custom"><%= file %>..</span>
                <p class="mt-[4rem] custom"><%= content %>......</p>
            </div>
      
        </div>
        <a href="/">
        <i class="absolute top-[5px] text-zinc-500 text-[24px] left-[15px] bi bi-box-arrow-left"></i>
    </a>

    <script src="./javascripts/script.js"></script>
</body>

</html>